---
title: Prediction of Car Fuel Consumption
author: S. Boisgérault
abstract: |
  We produce a model that predicts a vehicle fuel consumption from its weight, 
  with a estimated standard deviation smaller than 2 liters per 100 km. 
  The model is based on the Auto-MPG dataset.
---

# Introduction

**TODO**

# Model

The structure of our model is
$$
\mbox{fuel consumption} 
=  
\mbox{slope} \times \mbox{vehicle weight} + \mbox{intercept}
$$
where 

  - the fuel consumption is measured in liters per 100 km and 
  - the vehicle weight is given in kg.

The numerical values of the model parameters are

  - slope: ${{ slope }}$
  - intercept: ${{ intercept }}$

![Fuel consumption vs weight in the auto-mpg data sets (semi-transparent dots) 
and the corresponding prediction model (line).](images/prediction.png)



# Error Distribution

Our model is practically unbiased 
$$
|\mbox{mean}| = {{ mean }} \leq {{ max_mean }}.
$$
and its standard deviation is
$$
\mbox{std} = {{ std }} \leq {{ max_std }}.
$$

![The consumption prediction error distribution.](images/error.png)

# Dataset

Auto-mpg comes from @auto_mpg_9.

# References
