[workspace]
authors = ["Sébastien Boisgérault <Sebastien.Boisgerault@gmail.com>"]
channels = ["conda-forge"]
name = "auto-mpg-better"
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]
version = "0.1.0"

[tasks.clean]
cmd = """\
rm -rf article.md article.pdf article.html;
rm -rf images/*.png;
rm -rf notebook.ipynb;
rm -rf datasets/auto-mpg.csv;
rm -rf datasets/auto-mpg.parquet;
rm -rf bibliography/references.bib;
rm -rf models/results.json;
rm -rf models/lp100.onnx;
rm -rf **/__pycache__;
rm -rf .ipynb_checkpoints;
"""

[tasks.fetch]
cmd = "python fetch-dataset.py"
inputs = ["datasets/fetch.py", "bibliography/references.json"]
outputs = ["datasets/auto-mpg.csv", "datasets/auto-mpg.parquet"]
cwd = "datasets"

[tasks.notebook]
cmd = "python notebook.py"
inputs = ["datasets/auto-mpg.parquet", "notebook.py"]
outputs = ["images/error.png", "images/prediction.png"]
depends-on = ["fetch"]

[tasks.bibliography]
cmd = "pandoc references.json -f csljson -t bibtex -o references.bib"
inputs = ["bibliography/references.json"]
outputs = ["bibliography/references.bib"]
cwd = "bibliography"

[tasks.article]
cmd = "python make_article_md.py"
inputs = ["models/results.json", "article.md.j2"]
outputs = ["article.md"]
depends-on = ["notebook"]
cwd = "scripts"

[tasks.pdf]
cmd = """\
pandoc 
--citeproc 
--metadata link-citations=true
--bibliography=bibliography/references.json
--pdf-engine=tectonic 
-o article.pdf 
article.md
"""
inputs = ["article.md", "bibliography/references.json", "images/error.png", "images/prediction.png"]
outputs = ["article.pdf"]
depends-on = ["article"]

[tasks.html]
cmd = """\
pandoc 
--standalone 
--citeproc 
--bibliography=bibliography/references.json
-o article.html 
article.md
"""
inputs = ["article.md", "bibliography/references.json", "images/error.png", "images/prediction.png"]
outputs = ["article.html"]
depends-on = ["article"]

[tasks.all]
depends-on = ["pdf", "html"]

[dependencies]
python = ">=3.13.2,<3.14"
jupyterlab = ">=4.3.5,<5"
marimo = ">=0.11.9,<0.12"
matplotlib = ">=3.10.0,<4"
numpy = ">=2.2.3,<3"
pandas = ">=2.2.3,<3"
seaborn = ">=0.13.2,<0.14"
pandoc = ">=3.6.3,<4"
tectonic = ">=0.15.0,<0.16"
pyarrow = ">=19.0.1,<20"
jinja2 = ">=3.1.6,<4"
onnx = ">=1.19.1,<2"
onnxruntime = ">=1.22.0,<2"

[pypi-dependencies]
tinygrad = ">=0.11.0, <0.12"

